# Gere a chave Django com:
# python manage.py shell -c "from secrets import token_urlsafe; print(get_random_secret_key())"
FLASK_SECRET_KEY=
FLASK_DEBUG=True

# Informe aqui a chave atual do DataJud.
DATAJUD_API_KEY=

# Celery/Redis
CELERY_BROKER_URL=redis://localhost:6379/0

# Produção:
# FLASK_SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# WTF_CSRF_ENABLED=True
