# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Banco de dados local
*.db
*.sqlite3

# Arquivos de ambiente e logs
.env
*.log

# Arquivos gerados pela aplicação
media/
staticfiles/

# Editor
.vscode/
.idea/
